*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: aliceblue ;
    font-family: 'cascadia code';
}
img{
    width: 100%;
}
.container{
    max-width: 1000px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    /* overflow: hidden; */
}
.container .form{
    width: 500px;
    background-color: white;
    padding: 100px 70px;
}
.container .form h1{
    font-size: 40px;
    font-weight: 100;
    padding: 20px 0;
}
.container .form .input-group{
    width: 100%;
    padding: 10px 0;
}
.container .form .input-group input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    border:1px solid gray;
    outline: none;
}
.container .form .input-group button{
    width: 100%;
    padding: 10px;
    font-weight: 700;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'cascadia code';
}

.container .img{
    width: 500px;
    position: relative;
}

.container .img img{
    object-fit: cover;
    height: 100%;
    position: absolute;
    transition: 2s ease;
}


.small{
    display: none;
    color: red;
    padding:10px 0;
    font-size: 12px;
}
.email:invalid ~ .small{
    display: block;
}
.email:valid{
    /* border: 1px solid green; */
    border-color: green;
}





@media (width < 600px){
    body{
        display: block;
        padding: 50px 10px;
        
    }
    .container{
        flex-direction: column;
    }
    .container .form{
        width: 100%;
    }
    .container .img{
        display: none;
    }
}
